@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;1,400&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster+Two:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/* Google Fonts */
/* font-family: "Montserrat",
sans-serif;
font-family: "Roboto",
sans-serif;
font-family: "Lora",
serif; */
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: rgba(4, 147, 114, 0.76);
}

a:hover {
    text-decoration: none;
}

#particle {
    position: absolute;
    transform: translate(-20%, -1%);
    height: 90vh;
}

@media only screen and (max-width: 900px) {
    #particle {
        display: none;
    }
}

#logo {
    height: auto;
    width: 10%;
}

.page-header-image {
    height: 100%;
    width: auto;

}

.navbar {
    background-color: rgba(163, 126, 44, 1);
    opacity: 0.5;
}

svg:hover path {
    fill: #03642b;
}

.nav-icon {
    color: rgba(163, 126, 44, 1);
}

.nav-icon:hover {
    color: #03642b;
}

.subtitle {
    display: block;
    padding-right: 5rem;
}

.t {
    font-size: 10rem;
    font-family: "Libre Baskerville", serif;
    margin-top: 8rem;
    /* background: -webkit-linear-gradient(90deg, #674172, #913D88, #A2DED0, #68C3A3, #913D88, #674172);
    background: linear-gradient(90deg, #674172, #913D88, #A2DED0, #68C3A3, #913D88, #674172); */

    background: -webkit-linear-gradient(90deg, #c9b191, #a57e49, #87bcae, #0f7a5e, #a57e49, #c9b191);
    background: linear-gradient(90deg, #a57e49, #0f7a5e, #a57e49);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 400%;
    animation: t 20s infinite linear;
    transition: all 1s;
}

@keyframes t {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.about-heading {
    display: block;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    font-family: 'Lobster Two', cursive;
    background: -webkit-linear-gradient(170deg, #a57e49, #c9b191, #87bcae, #0f7a5e, #a57e49);
    background: linear-gradient(170deg, #a57e49, #c9b191, #87bcae, #0f7a5e, #a57e49);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    transition: all .5s;
    backface-visibility: hidden;
}

.timelink {
    background: -webkit-linear-gradient(90deg, #e1bd9a, #d29d67, #A2DED0, #68C3A3, #d29d67, #e1bd9a);
    background: linear-gradient(90deg, #d29d67, #A2DED0, #d29d67);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    animation: moveLeft 1.5s ease;
    transition: all .3s;
}

@keyframes moveLeft {
    0% {
        transform: translateY(18px);
    }

    50% {
        transform: translateY(-18px);
    }

    100% {
        transform: translateY(0px);
    }
}

canvas {

    width: 100vw;
    height: 100vh;
}

.letter-spacing {
    font-family: "Montserrat", sans-serif;
    /* font-family: "Roboto", sans-serif; */
    /* font-family: 'Playfair Display',serif; */
    /* font-family: 'Raleway', sans-serif; */
    font-weight: 800;
    margin: 20px 0px 0px 45px;
    font-size: calc(1.5rem + 1 * ((100vw - 20rem) / 100));
    line-height: 1.2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    background-size: cover;
    background-clip: text;
    color: rgb(33, 33, 33);
}

.small-text {
    font-family: "Lora", serif;
    margin: 25px 60px 0px 0px;
    color: #212121;
    font-size: 16px;
    line-height: 2;
}

.watch-finder {
    padding: 8px 30px;
    color: #12784A;
    border-color: #12784A;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}

.watch-finder:hover {
    background-color: #12784A;
    color: #ECF0F1;
}

.img-size {
    width: 300px;
    height: 350px;
}

.section,
.bg-light {
    background-color: #f6f6f6;
}

.configure-a {
    text-decoration: none;
    color: #12784A;
    margin-top: 17px;
    margin-left: -10px;
}

.configure-a:hover {
    color: #88bba4;
}

.discover {
    font-family: "Railway", sans-serif;
    border-radius: 2px;
    background-color: rgba(163, 126, 44, 1);
    border-color: #f6f6f6;
    letter-spacing: 0.3rem;
    color: #f6f6f6;
}


.discover-img {
    width: 260px;
    height: 360px;
    background-color: #e5e5e5;
    object-fit: cover;
    display: block;
    transition: all .5s;
    backface-visibility: hidden;
    filter: grayscale(.5);
}

.discover-img:hover:hover {
    transform: scale(1.05);
    filter: none;
    cursor: pointer;
}

.card-title {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2rem;
    margin-top: -10px;
    text-align: center;
}

.card-text {
    font-family: "Montserrat",
        sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1rem;
    margin-top: -5px;
    text-align: center;
    word-wrap: none;
}

.card {
    border: none;
    box-shadow: none;
}

.discover-more {
    letter-spacing: 0.2rem;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: #ffffff;
    color: rgba(163, 126, 44, 1);
    border: 1px solid rgba(163, 126, 44, 1);
    border-radius: 1px;
    transition: .5s;
    padding: 10px 25px;
}

.discover-more:hover {
    background-color: rgba(163, 126, 44, 1);
    color: #ffffff;
    border: 1px solid rgba(163, 126, 44, 1);
    border-radius: 2px;
    transition: .5s;
    font-weight: 400;
    font-size: 18px;
}

.weekly-deals {
    color: rgb(22, 31, 40, 0.8);
    letter-spacing: 0.4rem;
    font-size: 2rem;
}

.weekly-deals-hr {
    border-color: rgba(163, 126, 44, 1);
    border-width: 2px;
    max-width: 120px;
    margin: auto;
}

.weekly-box {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #e7e8e9;
    border-radius: 2px;
}

.weekly-box-img {
    height: 440px;
    width: 420px;
    margin: 10px;
    padding: 20px 20px;
    border-radius: 2px;
}

.coupon-title {
    color: #444444;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
}

.coupon-hr {
    border-color: rgb(22, 31, 40, 0.8);
    border-width: 2px;
    margin-right: 400px;
}

.coupon-hr-right {
    border-color: rgb(22, 31, 40, 0.8);
    border-width: 2px;
    margin-left: 400px;
}

.coupon-post-text {
    color: #444444;

}

.use-code {
    font-family: 'Playfair Display', serif;
    color: #444444;
}

.retail {
    color: #444444;
    font-size: 18px;
    letter-spacing: 0.1rem;
    margin-right: 20px;
}


.sale {
    color: #444444;
    margin-left: 10px;
    font-size: 18px;
    letter-spacing: 0.1rem;
    text-decoration: line-through;
}

.coupon-price {
    font-family: 'Lobster Two', cursive;
    font-size: 2rem;
    margin: 0;
    margin-top: -10px;
}

.after-coupon {
    font-size: 16px;
    margin-top: -5px;
}

.shop-btn {
    color: rgba(163, 126, 44, 1);
    background-color: #e7e8e9;
}

.subscribe {
    background-image: url("../../images/Insurance_Banner.jpg");
    background-size: cover;
}

.subscribe-title {
    color: #e5e5e5;
    font-family: "Lora", serif;
    letter-spacing: 0.2rem;
}

.subscribe-text {
    color: rgb(201, 202, 202);
    font-family: "Lora", sans-serif;
    letter-spacing: 0.1rem;
    font-weight: lighter;
}

.subscribe-btn {
    background-color: #f6f6f6;
    letter-spacing: 0.2rem;
    font-size: 22px;
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    box-shadow: #444444;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 0.7;
    transform: scale(1.05);
}

.content-image {
    width: 100%;
    transition: all 0.4s ease-in-out 0s;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 0.7;
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
    letter-spacing: 0.10em;
}

.fadeIn-bottom {
    top: 80%;
}

.fadeIn-top {
    top: 20%;
}

.fadeIn-left {
    left: 20%;
}

.fadeIn-right {
    left: 80%;
}

.blog-section {
    background-color: #d6d8c9;
}

.box-shadow {
    -webkit-box-shadow: 21px 25px 11px -10px rgba(122, 122, 122, 0.72);
    -moz-box-shadow: 21px 25px 11px -10px rgba(122, 122, 122, 0.72);
    box-shadow: 21px 25px 11px -10px rgba(122, 122, 122, 0.72);
}




/* footer style */

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top: 30px;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoGithub:hover {
    background-color: #0c0c0c;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}